<!DOCTYPE html>
<html>

</html>

@extends('layouts.app')
{% extends 'pages/base.html' %}
{% block title %}'Contact Ecommerce'{% endblock %}
{% block content %}
<body>
    <h1>Contact Details</h1>
    <p><strong>Email:</strong> contact@basicapp.com</p>
    <p><strong>Address:</strong> 3564 Elk Street, Los Angeles, California</p>
    <p><strong>Phone:</strong> +1 949-628-2469</p>
    <p><strong>Fax:</strong> +1 949-628-2469</p>
    <p><strong>Website:</strong> <a href="https://www.basicapp.com">www.basicapp.com</a></p>
    <p><strong>Social Media:</strong></p>
</body>

{% endblock %}